<div class="content">
  <h1>About Us</h1>
  <br/><br/>
  Give Me Notice is a proof of concept alert system that strives to alert people about content they need without having to constantly check a source for that info. As we grow we hope to expand and make this system smarter and provide more relevant content for our users.

  Give Me Notice was created by Joel Smith in late 2013, Joel is a programmer who has been in the industry for many years and worked for many top Fortune 500 companies maintaining their critical computer system infastructure. If you would like to learn more about Joel or inquire about opportunites please visit his consulting firm's website at <a href="http://www.trosic.com/">www.trosic.com</a>
</div>